@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.policy {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .policy-title {
      @include title(20px);
      margin-bottom: 20px;
    }

    .policy-text {
      @include text(14px);
      margin-bottom: 10px;
    }

    .policy-list {
      padding: 0;
      list-style: none;

      .policy-list-title {
        @include title(16px);
        margin-bottom: 10px;
      }

      .policy-list-item {
        @include text(12px);
        margin-bottom: 5px;
      }
    }
  }
}
