@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont_wght.ttf");
  font-style: normal;
}
