@mixin text($size: 16px, $weight: 400, $color: #071739) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: 130%;
  color: $color;
}

@mixin title($size: 38px, $weight: 400, $color: #709fdc) {
  font-family: "Lora", serif;
  font-weight: $weight;
  font-size: $size;
  line-height: 130%;
  color: $color;
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
